NODE_ENV=development # 'development', 'production', 'test'
PORT=3000
LOG_LEVEL=info # 'trace', 'debug', 'info', 'warn', 'error', 'fatal'
SERVICE_ROUTE_PREFIX=/link # Service route prefix before API routes `/service-name`
VERSION=v1

